@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Cabin+Sketch:wght@400;700&family=Flavors&display=swap");

@font-face {
	font-family: "work-sans";
	src: url("./work-sans-medium.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

:root {
	--pink-pleasure: #ffdee2;
	--trans-pink-pleasure: #ffdee200;
	--instant-noodles: #f8d593;
	--heron: #605c87;
	--flying-carpet: #7a7487;
	--earth-bound: #a58b8a;
	--molasses: #56494a;
	--smoking-mirror: #a39389;
	--moonless-night: #303030;
	--diamond-cut: #e9e9ed;
	--mutabilis: #c09298;
}

html,
body {
	min-height: 100%;
	margin: 0 auto;

	font-size: 16px;
	/* font-family: "work-sans"; */
	font-family: "Artifika", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: white;
}
body {
	background: content-box url("./floral-pattern-pink.png");
	background-size: contain;
}
h2 {
	text-align: left;
	color: rgb(255, 255, 255);
	background-color: var(--earth-bound);
	width: 100%;

	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0rem;
	margin-top: 0rem;
	padding-left: 40%;

	font-family: "Flavors", cursive;
	/* font-family: "Artifika", serif; */
}
h1 {
	font-family: "Cabin Sketch", cursive;
	font-weight: 700;
	color: var(--moonless-night);
}
button {
	width: 10rem;
	margin: 0;
	padding: 0.4rem 0.4rem 0rem 0.4rem;
	box-sizing: border-box;
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;

	border: 2px solid var(--mutabilis);
	border-bottom: 0rem;
	box-shadow: none;
	background-color: var(--earth-bound);

	font-size: 2.2rem;
	font-family: "Cabin Sketch", cursive;
	font-weight: 700;

	color: white;
}
button:hover {
	cursor: pointer;
	background-color: var(--heron);
	border-color: var(--instant-noodles);
	color: var(--instant-noodles);
}
nav {
	display: flex;
	justify-content: space-evenly;
	padding-top: 0.7rem;
	border-bottom: 8px solid var(--earth-bound);
	border-bottom: 2px solid var(--mutabilis);
}
#home-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 100vh;

	background: linear-gradient(
		0.25turn,
		#9f6c7200,
		8%,
		#9f6c72,
		#9f6c72,
		#9f6c72,
		92%,
		#9f6c7200
	);
}
.home-img {
	float: left;
	height: auto;
	width: 40vw;
	max-width: 40%;

	margin: 0.4rem 0.4rem 0.2rem 0rem;
	border: 2px solid #c09298;
	border-radius: 1.4rem;
}
.para {
	padding-top: 0.4rem;
	border-radius: 2%;

	max-width: 54ch;
	text-align: start;
	color: rgb(255, 255, 255);

	overflow-wrap: break-word;
}
.home-content {
	padding-top: 1rem;
}
.home-content p:first-of-type {
	grid-column: 2 / 3;
	margin-top: 0rem;
}
.active {
	background-color: var(--instant-noodles);
	color: var(--molasses);
}
/* Contact Page: */
#contact-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 100vh;

	background: linear-gradient(
		0.25turn,
		#9f6c7200,
		8%,
		#9f6c72,
		#9f6c72,
		#9f6c72,
		92%,
		#9f6c7200
	);
}
.contact-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* background-color: #ff7b8a; */
	padding: 1rem;
	border: 1px solid white;
}
.img-blurb-div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.blurb {
	border: 1px solid white;
	border-radius: 100%;
	padding: 3rem 1rem;
	font-size: 1.8rem;
}
.contact-img {
	/* float: left; */
	width: 40vw;
	height: auto;
	max-width: 60%;

	margin: 0.4rem 0.4rem 0.2rem 0rem;
	border: 2px solid #c09298;
	/* border-radius: 0.8rem; */
}
.address {
	line-height: 0.2rem;
}
.labels {
	justify-self: right;
	padding-right: 1rem;
}
/** Menu: */
#menu-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	height: 100vh;

	background: linear-gradient(
		0.25turn,
		#9f6c7200,
		8%,
		#9f6c72,
		#9f6c72,
		#9f6c72,
		92%,
		#9f6c7200
	);
}
.food-wrapper {
	border: 1px solid white;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 2rem;
}
.menu-item,
.price {
	margin: 0.6rem 0.4rem 0.2rem 0.4rem;
}
.menu-content h3 {
	margin: 0.6rem 0rem 0rem 0rem;
	padding-left: 0.4rem;
	font-family: "Flavors", cursive;
	font-size: 2rem;
	border: 1px solid white;
}
